[package]
name = "example"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ggcat-api = { version = "1.1.1", path = ".." }
itertools = "0.13.0"
